
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,719;1,719&display=swap');
@import "tailwindcss";

@theme{
  --font-bodoni: 'Bodoni Moda', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}


.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 719;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
